<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Basic Form</strong> Elements
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">title</label>
              <div class="col-md-9">
                <input type="text" id="title" name="title" class="form-control" placeholder="Text">
                <span class="help-block">Enter Home title</span>
              </div>
            </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">phone</label>
                <div class="col-md-9">
                  <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">phone2</label>
                <div class="col-md-9">
                  <input type="text" id="phone2" name="phone2" class="form-control" placeholder="Another phone">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">phone3</label>
                <div class="col-md-9">
                  <input type="text" id="phone3" name="phone3" class="form-control" placeholder="Another phone">
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email-input">Email Input</label>
                <div class="col-md-9">
                  <input type="email" id="email-input" name="email" class="form-control" placeholder="Email" autocomplete="email">
                  <span class="help-block">Please enter your email</span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Address</label>
                <div class="col-md-9">
                  <input type="text" id="address" name="Address" class="form-control" placeholder="address">
                  <span class="help-block">Enter our address</span>
                </div>
              </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="textarea-input">about</label>
                <div class="col-md-9">
                  <textarea id="about" name="about" rows="9" class="form-control" placeholder="Content.."></textarea>
                </div>
              </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">home image</label>
              <div class="col-md-9">
                <input type="file" id="file-input" name="image">
              </div>
            </div>
            
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="postData()"><i class="fa fa-dot-circle-o" ></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
      
    </div>
    
  </div><!--/.row-->



<div class="col-sm-6 col-md-4" >
    <div class="card border-success" id="card">
      <div class="card-header">
       title
      </div>
      <div class="card-img">
        <img src="./src/assets/img/avatars/8.jpg" alt="announce-img">
      </div>
      <div class="card-body">
    discription
      </div>
      
      <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0" style="width: 50%; padding-bottom:10px ;" >
        <button type="button" class="btn btn-block btn-danger active" aria-pressed="true">Danger</button>
      </div>
    </div>
    
  </div><!--/.col-->


 
